<table class="widget widget--burn-status">
   <thead class="widget__header">
    <th colspan="2">
      <div class="flex">
        <svg><use xlink:href='#flame' /></svg>
        <div>
          <h4>
            Fire Safety
          </h4>
          <div class="timeframe">
            Burn Season: {{ burn_permits.burn_season_start | postDateTerseNoYearISO -}}-
            {{- burn_permits.burn_season_end | postDateTerseNoYearISO }}
          </div>
        </div>
      </div>
    </th>
  </thead>
  <tbody class="widget__body">
    <tr class="odd">
      <th>
        Fire Danger
      </th>
      <td class="level level--{{burn_permits.fire_status | slugify}}">
        {{ burn_permits.fire_status }}
      </td>
    </tr>
    <tr class="even">
      <th>
        Recreational Fires: San Juan County
      </th>
      <td class="level level--{{burn_permits.rec_campfire_status | slugify}}">
        {{ burn_permits.rec_campfire_status }}
      </td>
    </tr>
    <tr class="odd">
      <th>
        Recreational Fires: State Park & DNR
      </th>
      <td class="level level--{{burn_permits.state_campfire_status | slugify}}">
        {{ burn_permits.state_campfire_status }}
      </td>
    </tr>
    <tr class="even">
      <th>
        Recreational Fires: National Parks
      </th>
      <td class="level level--{{burn_permits.np_campfire_status | slugify}}">
        {{ burn_permits.np_campfire_status }}
      </td>
    </tr>
    <tr class="odd">
      <th>
        Residential Burn Permits
      </th>
      <td class="level level--{{burn_permits.burn_ban_status | slugify}}">
        {{ burn_permits.burn_ban_status }}
      </td>
    </tr>
    <tr class="even">
      <th>
        Commercial Burn Permits
      </th>
      <td class="level level--{{burn_permits.commercial_burn_ban_status | slugify}}">
        {{ burn_permits.commercial_burn_ban_status }}
      </td>
    </tr>
  </tbody>
  {% if page.url === '/' %}
    <tfoot class="widget__foot">
      <td colspan="2">
        <a href="/services/burn-permits/">More Info »</a>
      </td>
    </tfoot>
  {% endif %}
</table>
