[build]
  base    = '.'
# NOTE: cannot use with admin/ in its own folder; this overwrites the admin build commands set in the GUI
#  publish = "public"
#  command = "npm run build"
[context.production]
  environment = { ELEVENTY_ENV = "production" }

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Access-Control-Allow-Origin = "*"

#    Content-Security-Policy-Report-Only = "default-src 'self' *.cloudinary.com *.clarity.ms *.googletagmanager.com *.google.com;"
#    Content-Security-Policy = "default-src 'self' *.cloudinary.com *.clarity.ms *.googletagmanager.com *.google.com;"

# [[plugins]]
#  package = "netlify-plugin-csp-generator"
#  [plugins.inputs]
#   buildDir = "{public,admin}"
#    buildDir = "public"
#  [plugins.inputs.policies]
#    defaultSrc = "'self' *.google.com"
#    scriptSrc  = "'self' *.googletagmanager.com *.clarity.ms"
#    imgSrc     = "'self' *.cloudinary.com"
#   reportOnly = true
#    reportURI = "/report-csp-violations-to-this-uri"

[[plugins]]
  package = "@netlify/plugin-sitemap"


[[redirects]]
  from = "/governance"
  to = "/about/governance/"
  status = 301
  force = true

[[redirects]]
  from = "/about"
  to = "/about/who-we-are/"
  status = 301
  force = true

[[redirects]]
  from = "/services"
  to = "/services/emergency-services/"
  status = 301
  force = true


# remove after a few yrs; help to redirect old links...
[[redirects]]
  from = "/about/board-of-commissioners"
  to = "/about/governance/"
  status = 301
  force = true
[[redirects]]
  from = "/governance/documents"
  to = "/about/governance/"
  status = 301
  force = true
[[redirects]]
  from = "/governance/board-of-commissioners"
  to = "/about/governance/"
  status = 301
  force = true
[[redirects]]
  from = "/board-of-commissioners"
  to = "/about/governance/"
  status = 301
  force = true
[[redirects]]
  from = "/contact-us"
  to = "/contact/"
  status = 301
  force = true
[[redirects]]
  from = "/about/staff"
  to = "/about/key-information"
  status = 301
  force = true
[[redirects]]
  from = "/about-us/"
  to = "/about/who-we-are/"
  status = 301
  force = true
[[redirects]]
  from = "/about/about-san-juan-fire-and-rescue"
  to = "/about/key-information"
  status = 301
  force = true
[[redirects]]
  from = "/privacy-policy"
  to = "/disclaimer"
  status = 301
  force = true
[[redirects]]
  from = "/firewise"
  to = "/services/firewise"
  status = 301
  force = true
[[redirects]]
  from = "/ems"
  to = "/news/2022-01-18-we-are-an-ems-agency/"
  status = 301
  force = true
[[redirects]]
  from = "/news/2022-01-18-sjifandr-is-an-ems-agency/"
  to = "/news/2022-01-18-we-are-an-ems-agency/"
  status = 301
  force = true

[[redirects]]
  from = "/optim/*"
  query = {c_param = ":c_param"}
  to = "{{site.cloudinaryRootUrl}}/image/fetch/:c_param/{{site.rootUrl}}/:splat"
  status = 200

[[redirects]]
  from = "/optim/*"
  to = "{{site.cloudinaryRootUrl}}/image/fetch/f_auto/{{site.rootUrl}}/:splat"
  status = 200

# RESET every year
[[redirects]]
  from = "/easter"
  to = "/news/2022-04-13-annual-easter-event/"
  status = 301
  force = true


#[[redirects]]
#  from = "/#invite_token=:invite_token"
#  to = "/admin/#invite_token=:invite_token"
#  status = 301
#  force = true
# https://www.sjifire.org/#invite_token=some-token


# disable for now because:
#  - it causes admin sub-domain to not deploy
#  - it is REALLY expensive to run and we'll run out of build minutes
# [[plugins]]
#   package = "@netlify/plugin-lighthouse"
#   [plugins.inputs.thresholds]
#     performance = 0.9
# #    accessibility = 0.9
#     best-practices = 0.9
#     seo = 0.9
#  #   pwa = 0.9
#   [plugins.inputs]
#     output_path = "reports/lighthouse.html"
