---
title: "Emergency Personnel"
permalink: "/about/emergency-personnel/index.html"
---

{% extends "default_single_col_page.njk" %}
{% set pageData = emergency_personnel %}
{% set cloudinaryDefaults = "f_auto,q_auto:good,g_faces,c_fill,w_315,h_328" %}

{% block content %}
  <div class="l-squeezed block-content">
    <h1>
      {{ title | safe }}
    </h1>
    <div class="lede">
      {{ pageData.preamble | markdownify | safe }}
    </div>
    {% set staffOnly = pageData.personnel | pluckByValue('staff', 'staff_type') %}
    {% set volunteersOnly = pageData.personnel | pluckByValue('volunteer', 'staff_type') %}
    {% set defaultImgName = 'images.jpg' %}

    <section class="personnel-section">
      <h2>Staff</h2>
      <div class="l-grid l-grid--personnel">
        {% for person in staffOnly %}
          <div class="person">
            <div class="person__img">
              <img src="{%- imgPath '/assets/personnel_imgs/' + (person.img_file or defaultImgName), cloudinaryDefaults -%}" alt="{{ person.first_name }} {{ person.last_name }}" width="157.5" height="164">
            </div>
            <h3>{{ person.first_name }} {{ person.last_name }}</h3>
            {% if person.rank or person.title %}<h4>
              {% if person.rank %}{{ person.rank }}{% endif %}
              {% if person.rank and person.title %} - {% endif %}
              {% if person.title %}{{ person.title }}{% endif %}
            </h4>
            {% endif %}
            <ul>
              {% for role in person.roles | sort %}
                <li>{{ role }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </section>
    <section class="personnel-section">
      <h2>Volunteers</h2>
      <div class="l-grid l-grid--personnel">
        {% for person in volunteersOnly | sort(attribute='last_name') %}
          <div class="person">
            <div class="person__img">
              <img src="{%- imgPath '/assets/personnel_imgs/' + (person.img_file or defaultImgName), cloudinaryDefaults -%}" alt="Headshot of {{ person.first_name }} {{ person.last_name }}" width="157.5" height="164">
            </div>
            <h3>{{ person.first_name }} {{ person.last_name }}</h3>
            {% if person.rank or person.title %}<h4>
              {% if person.rank %}{{ person.rank }}{% endif %}
              {% if person.rank and person.title %} - {% endif %}
              {% if person.title %}{{ person.title }}{% endif %}
            </h4>
            {% endif %}
            <ul>
              {% for role in person.roles | sort %}
                <li>{{ role }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}
