---
title: News & Announcements
pagination:
  data: posts
  size: 24
  alias: post
  reverse: true
permalink: "/news/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

{% block main_content %}
  <header class="hgroup">
    <h1>
      {{ title | safe }}
    </h1>
    <div class="lede">
      {{ news.preamble | markdownify | safe }}
    </div>
  </header>
  <ul class="l-grid l-grid--auto">
    {% for post in pagination.items %}
      <li class="card">
        <div class="card__body">
          <div class="news__type">
            {% include "post_type_icons.njk" %}
            {{ post.post_type }}
          </div>
          <h3 class="news__headline">
            <a href="{{ post.url }}/">
              {{ post.title | safe }}
            </a>
          </h3>
          <time datetime="{{ post.date | htmlDateStringISO }}" pubdate="pubdate" class="news__date">
            {{ post.date | postDateTerseISO }}
          </time>
          <div class="news__lede">
            {{ post.lede | markdownify | safe }}
          </div>
        </div>
        <div class="card__footer">
          <a href="{{ post.url }}/" class="news__readmore">Read more <svg><use xlink:href="#right-arrow"></svg></a>
        </div>
      </li>
    {% endfor %}
  </ul>

  {% if pagination.href.previous or pagination.href.next %}
    <nav class="pagination">
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous | url }}">«</a>
      {% else %}
        <span>«</span>
      {% endif %}
    {%- for pageEntry in pagination.pages %}
      {% if page.url == pagination.hrefs[ loop.index0 ] %}
        <span>{{ loop.index }}</span>
      {% else %}
        <a href="{{ pagination.hrefs[ loop.index0 ] | url }}">{{ loop.index }}</a>
      {% endif %}
    {%- endfor %}
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next | url }}">»</a>
      {% else %}
        <span>»</span>
      {% endif %}
    </nav>
  {% endif %}
{% endblock %}

{% block sidebar_content %}
  {% for year, set in media_releases | groupby('year') | dictsort | reverse %}
    <details class="block-content" {{ 'open' if loop.first }}>
      <summary class="sidebar__heading">Media Releases: {{ year }}</summary>
      <dl class="sidebar__desc-list">
        {% for media_release in set | reverse %}
          <dt>
            {{ media_release.date | postDateTerseNoYearISO }}
          </dt>
          <dd>
            <a href="{{ media_release.document }}">
              {{ media_release.title }}
            </a>
          </dd>
        {% endfor %}
      </ul>
    </details>
  {% endfor %}
{% endblock %}

{% extends "default_double_col_page.njk" %}
