---
title: "Who We Are"
permalink: "/about/who-we-are/index.html"
---

{% set pageData = who_we_are %}
{% block main_content %}
  <section class="gallery">
    <div aria-hidden="true" class="gallery-showcase">
      {% for img in pageData.image_gallery %}
        <img id="gallery-pic{{ loop.index }}" class="gallery-showcase__item{{ ' active' if loop.first }} leave-alone" src="{%- imgPath '/assets/images/' + img.image | safe,  'f_auto,q_auto:good,c_fill,w_1000,h_800' -%}" alt="{{ img.image_alt }}" >
      {% endfor %}
    </div>
    <div class="gallery-nav">
      {% for img in pageData.image_gallery %}
        <img class="gallery-nav__item{{ ' active' if loop.first }} leave-alone" data-target-id="gallery-pic{{ loop.index }}" src="{%- imgPath '/assets/images/' + img.image | safe,  'f_auto,q_auto:good,c_fill,w_150,h_100' -%}" alt="{{ img.image_alt }}" >
      {% endfor %}
    </div>
  </section>
{% endblock %}

{% extends "default_double_col_page.njk" %}


