---
backend:
  name: git-gateway
  branch: main

media_folder: "src/assets/images"
public_folder: "/assets/images"
site_url: "https://www.sjifire.org/"
show_preview_links: true
collections:
  - name: "posts"
    label: "Posts"
    label_singular: "Post"
    folder: "src/posts/"
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    extension: "json"
    create: true # Allow users to create new documents in this collection
    delete: true # Allow users to delete items in this collection
    summary: "{{fields.date | date('YYYY-MM-DD')}} • {{fields.title}}"
    description: "Add posts on the site."
    editor:
      preview: false
    fields: # The fields for each document, usually in front matter
      - label: Title
        name: title
        widget: string
        required: true
      - label: Post Type
        name: post_type
        widget: "select"
        options:
          - { label: "Advisory", value: "Advisory" }
          - { label: "Announcement", value: "Announcement" }
          - { label: "Department Highlight", value: "Department Highlight" }
          - { label: "Fact Check", value: "Fact Check" }
          - { label: "General News", value: "News" }
          - { label: "Member Profile", value: "Member Profile" }
          - { label: "On Scene", value: "On Scene" }
        default: "news"
        required: true
      - label: Date
        name: date
        widget: datetime
        date_format: "YYYY-MM-DD"
        time_format: false
        format: "YYYY-MM-DDTHH:mm"
        picker_utc: true
        default: ""
        hint: Publication date
        required: true
      - label: Teaser (Lede)
        name: lede
        widget: markdown
        minimal: false
        buttons: ["bold", "italic", "link", "quote"]
        modes: [rich_text]
        editor_components: []
        hint: Short snipped of text used in article teasers
        required: true
      - label: "Featured Image"
        name: "featured_image"
        widget: "object"
        hint: "Featured image that appears at the top of the post, complete with 'alt' tag and, optionally, a caption"
        required: false
        fields:
          - label: Image Upload
            name: source
            widget: image
            allow_multiple: false
            choose_url: false
            public_folder: ""
            required: false
          - label: Width
            name: width
            widget: number
            hint: "What is the width of this image?"
            required: false
          - label: Height
            name: height
            widget: number
            hint: "What is the height of this image"
            required: false
      - label: Body
        name: body
        widget: markdown
        required: true
    sortable_fields:
      - date
      - commit_date
    view_groups:
      - label: Year
        field: date
        pattern: \d{4}
      - label: Post Type
        field: post_type
  - name: "pages"
    label: "Pages"
    description: "Edit pages across the site."
    files:
      - label: "Homepage"
        name: "homepage"
        delete: false
        editor:
          preview: false
        file: "src/_data/homepage.yml"
        fields:
          - label: Header Image(s)
            name: header_image_source
            widget: image
            allow_multiple: true
            choose_url: false
            public_folder: ""
            required: true
          - label: Preamble
            name: preamble
            widget: markdown
            buttons: ["bold", "italic", "link"]
            editor_components: []
            modes: [rich_text]
            hint: >-
              Text that appears under the main heading.
          - label: "Number of News Stories to show"
            name: "number_news_stories"
            widget: "select"
            options: ["4", "6", "8", "10", "12"]
          - label: "Image Gallery"
            name: "image_gallery"
            widget: "list"
            allow_add: true
            add_to_top: true
            max: 5
            fields:
              - label: Image
                name: image
                widget: image
                allow_multiple: false
                choose_url: false
                public_folder: ""
                required: true
              - label: Image Alt
                name: image_alt
                widget: string
                required: true
      - label: "News"
        name: "news"
        delete: false
        editor:
          preview: false
        file: "src/_data/news.json"
        fields:
          - label: Preamble
            name: preamble
            widget: markdown
            buttons: ["bold", "italic", "link"]
            editor_components: []
            modes: [rich_text]
            hint: >-
              Text that appears under the main heading.
      - label: "About/Key Information"
        name: "key_information"
        delete: false
        editor:
          preview: false
        file: "src/_data/key_information.yml"
        fields:
          - label: Body
            name: body
            widget: markdown
            required: true
      - label: "About/Who We Are"
        name: "who_we_are"
        delete: false
        editor:
          preview: false
        file: "src/_data/who_we_are.yml"
        fields:
          - label: Body
            name: body
            widget: markdown
            required: true
          - label: Sidebar
            name: sidebar
            widget: markdown
            required: false
          - label: "Image Gallery"
            name: "image_gallery"
            widget: "list"
            allow_add: true
            add_to_top: true
            max: 5
            fields:
              - label: Image
                name: image
                widget: image
                allow_multiple: false
                choose_url: false
                public_folder: ""
                required: true
              - label: Image Alt
                name: image_alt
                widget: string
                required: true
      - label: "About/Emergency Personnel"
        name: "emergency_personnel"
        delete: false
        editor:
          preview: false
        file: "src/_data/emergency_personnel.yml"
        fields:
          - label: Preamble
            name: preamble
            widget: markdown
            required: false
          - label: "Personnel"
            name: "personnel"
            widget: "list"
            summary: "{{fields.first_name}} {{fields.last_name}}: {{fields.img_file}}"
            allow_add: true
            add_to_top: true
            fields:
              - label: First Name
                name: first_name
                widget: string
                required: true
              - label: Last Name
                name: last_name
                widget: string
                required: true
              - label: Type
                name: staff_type
                widget: "select"
                options: ["staff", "volunteer"]
                required: true
                multiple: false
              - label: Roles
                name: roles
                widget: "select"
                options:
                  [
                    "FireFighter",
                    "Wildland Firefighter",
                    "EMT",
                    "Medic",
                    "Apparatus Operator",
                    "Marine Crew",
                    "Support",
                    "Admin",
                  ]
                required: true
                multiple: true
              - label: Title
                name: title
                widget: string
                required: false
              - label: Rank
                name: rank
                widget: "select"
                options: ["Lieutenant", "Captain", "Division Chief", "Assist. Chief", "Chief"]
                required: false
                multiple: false
              - label: Image File
                name: img_file
                widget: file
                allow_multiple: false
                choose_url: false
                required: false
                media_folder: "/src/assets/personnel_imgs/"
                public_folder: ""
      - label: "About/Join Us"
        name: "join"
        delete: false
        editor:
          preview: false
        file: "src/_data/join.yml"
        fields:
          - name: "header_display"
            label: "Display on Page Header"
            widget: "select"
          - label: "Job Descriptions"
            name: "job_descriptions"
            widget: "list"
            summary: "{{fields.file}}"
            allow_add: true
            add_to_top: true
            fields:
              - label: Job Description Title
                name: title
                widget: string
                required: true
              - label: File PDF
                name: file
                widget: file
                allow_multiple: false
                choose_url: false
                media_folder: "/src/assets/docs/jobs"
                public_folder: ""
                options: ["Show", "Hide"]
          - label: Body
            name: body
            widget: markdown
            required: true
      - label: "About/Incidents"
        name: "incidents"
        delete: false
        editor:
          preview: false
        file: "src/_data/incidents.yml"
        fields:
          - label: Body
            name: body
            widget: markdown
            required: true
      - label: "About/Governance"
        name: "governance"
        delete: false
        editor:
          preview: false
        file: "src/_data/governance.yml"
        fields:
          - label: "Important Documents"
            name: "important_documents"
            widget: "list"
            summary: "{{fields.file}}"
            hint: "Highlight Important Documents"
            allow_add: true
            add_to_top: true
            fields:
              - label: Title
                name: title
                widget: string
                required: true
              - label: File
                name: file
                widget: file
                allow_multiple: false
                choose_url: false
                media_folder: "/src/assets/docs/"
                public_folder: ""
          - label: Body
            name: body
            widget: markdown
            required: true
      - label: "About/2024 Levy"
        name: "levy_2024"
        delete: false
        editor:
          preview: false
        file: "src/_data/levy_2024.yml"
        fields:
          - label: "Documents & Resources"
            name: "documents"
            widget: "list"
            summary: "{{fields.file}}"
            hint: "Highlight Important Documents & Resources"
            allow_add: true
            add_to_top: true
            fields:
              - label: Title
                name: title
                widget: string
                required: true
              - label: File
                name: file
                widget: file
                allow_multiple: false
                choose_url: false
                media_folder: "/src/assets/docs/"
                public_folder: ""
          - label: Body
            name: body
            widget: markdown
            required: true
      - label: "Services/24-7 Emergency Services"
        name: "emergency_services"
        delete: false
        editor:
          preview: false
        file: "src/_data/emergency_services.yml"
        fields:
          - label: Body
            name: body
            widget: markdown
            required: true
      - label: "Services/Burn Permits"
        name: "burn_permits"
        delete: false
        editor:
          preview: false
        file: "src/_data/burn_permits.yml"
        fields:
          - name: "fire_status"
            label: "Fire Danger Status"
            widget: "select"
            options: ["Low", "Moderate", "High", "Very High", "Extreme"]
            preview: false
          - label: Burn Season Start
            name: burn_season_start
            widget: datetime
            date_format: "YYYY-MM-DD"
            time_format: false
            format: "YYYY-MM-DD"
            picker_utc: true
            preview: false
          - label: Burn Season End
            name: burn_season_end
            widget: datetime
            date_format: "YYYY-MM-DD"
            time_format: false
            format: "YYYY-MM-DD"
            picker_utc: true
            preview: false
          - name: "burn_ban_status"
            label: "Residential Burn Status"
            widget: "select"
            options: ["Open", "Closed"]
            preview: false
          - name: "commercial_burn_ban_status"
            label: "Commercial Burn Status"
            widget: "select"
            options: ["Open", "Closed"]
            preview: false
          - name: "rec_campfire_status"
            label: "Recreational Fire Status"
            widget: "select"
            options: ["Open", "Restricted", "Closed"]
            preview: false
          - name: "state_campfire_status"
            label: "State Park/DNR Recreational Fire Status"
            widget: "select"
            options: ["Open", "Restricted", "Closed"]
            preview: false
          - name: "np_campfire_status"
            label: "National Park Recreational Fire Status"
            widget: "select"
            options: ["Open", "Restricted", "Closed"]
            preview: false
          - label: Body
            name: body
            widget: markdown
            required: true
            preview: true
      - label: "Services/Firewise"
        name: "firewise"
        delete: false
        editor:
          preview: false
        file: "src/_data/firewise.yml"
        fields:
          - label: Body
            name: body
            widget: markdown
            required: true
          - label: Sidebar
            name: sidebar
            widget: markdown
            required: false
      - label: "Services/Smoke & CO Alarms"
        name: "smoke_CO_alarms"
        delete: false
        editor:
          preview: false
        file: "src/_data/fire_alarms.yml"
        fields:
          - label: Body
            name: body
            widget: markdown
            required: true
      - label: "Services/Knoxbox"
        name: "knoxbox"
        delete: false
        editor:
          preview: false
        file: "src/_data/knoxbox.yml"
        fields:
          - label: Body
            name: body
            widget: markdown
            required: true
      - label: "Contact"
        name: "contact"
        delete: false
        editor:
          preview: false
        file: "src/_data/contact.yml"
        fields:
          - label: Body
            name: body
            widget: markdown
            minimal: false
            required: true
            hint: "Add a chunk of text (rich text editor)"
      - label: "Thank You"
        name: "thank_you"
        delete: false
        editor:
          preview: false
        file: "src/_data/thank_you.yml"
        fields:
          - label: Preamble
            name: preamble
            widget: markdown
            buttons: ["bold", "italic", "link"]
            editor_components: []
            modes: [rich_text]
            hint: >-
              Text that appears under the main heading.
          - label: Body
            name: body
            widget: markdown
            minimal: false
            hint: "Add a chunk of text (rich text editor)"
      - label: "Disclaimer"
        name: "disclaimer"
        delete: false
        editor:
          preview: false
        file: "src/_data/disclaimer.yml"
        fields:
          - label: Preamble
            name: preamble
            widget: markdown
            buttons: ["bold", "italic", "link"]
            editor_components: []
            modes: [rich_text]
            hint: >-
              Text that appears under the main heading.
          - label: Body
            name: body
            widget: markdown
            minimal: false
            required: true
            hint: "Add a chunk of text (rich text editor)"
      - label: "404 Error - Page Not Found"
        name: "error_404"
        delete: false
        editor:
          preview: false
        file: "src/_data/error_404.yml"
        fields:
          - label: Body
            name: body
            widget: markdown
            minimal: false
            required: true
            hint: "Add a chunk of text (rich text editor)"
  - label: "Board Meetings"
    name: "board_meetings"
    label_singular: "Board Meeting"
    folder: "src/meetings/"
    slug: "{{fields.date}}-{{slug}}"
    extension: "json"
    create: true # Allow users to create new documents in this collection
    delete: true # Allow users to delete items in this collection
    editor:
      preview: false
    summary: "{{fields.date | date('YYYY-MM-DD')}} • {{fields.title}}"
    description: "Add meetings to the site."
    fields: # The fields for each document, usually in front matter
      - label: Title
        name: title
        widget: "select"
        options:
          - { label: "Regular Meeting", value: "Regular Meeting" }
          - { label: "Special Meeting", value: "Special Meeting" }
          - { label: "Workshop", value: "Workshop" }
        required: true
      - label: Date
        name: date
        widget: datetime
        date_format: "YYYY-MM-DD"
        time_format: false
        format: "YYYY-MM-DD"
        picker_utc: true
        default: ""
        hint: Meeting date
        required: true
      - label: "Documents"
        name: "documents"
        widget: "list"
        summary: "{{fields.file}}"
        hint: "Add pre-meeting docs (e.g. 'Agenda') and post-meeting docs (e.g. 'Minutes')."
        allow_add: true
        add_to_top: true
        fields:
          - label: Title
            name: title
            widget: string
            required: true
          - label: File
            name: file
            widget: file
            allow_multiple: false
            choose_url: false
            media_folder: "/src/assets/docs/"
            public_folder: ""
    sortable_fields:
      - date
      - commit_date
    view_groups:
      - label: Year
        field: date
        pattern: \d{4}
  - label: "Media Releases"
    name: "media_releases"
    label_singular: "Media Release"
    folder: "src/media_releases/"
    slug: "{{fields.date}}-{{slug}}"
    preview_path_date_field: "date"
    extension: "json"
    create: true # Allow users to create new documents in this collection
    delete: true # Allow users to delete items in this collection
    editor:
      preview: false
    summary: "{{fields.date | date('YYYY-MM-DD')}} • {{fields.title}}"
    description: "Add media releases to the site."
    fields: # The fields for each document, usually in front matter
      - label: Title
        name: title
        widget: string
        required: true
      - label: Date
        name: date
        widget: datetime
        date_format: "YYYY-MM-DD"
        time_format: false
        format: "YYYY-MM-DD"
        picker_utc: true
        default: ""
        hint: release date
        required: true
      - label: "Document"
        name: "document"
        widget: file
        pattern: [".pdf$", "Must end with '.pdf'"]
        hint: must be a pdf
        allow_multiple: false
        choose_url: false
        required: true
        media_folder: "/src/assets/media_releases/{{year}}"
        public_folder: "/assets/media_releases/{{year}}"
    sortable_fields:
      - date
      - commit_date
    view_groups:
      - label: Year
        field: date
        pattern: \d{4}
